.logo {
    max-width: 150px; 
    height: auto; 
}
.navbar-nav .nav-link.active {
    color: #851cfd; /* Schimbă culoarea link-ului activ */
    text-decoration: underline; /* Adaugă subliniere */
}
.text-site-light{
    color: #851cfd!important;
}
.btn-bg-light {
    background: linear-gradient(#eec8b9, #851cfd);
}
.btn-bg-dark{
    background: white;
}

.btn-radius{
    border-radius: 24px;
}
.radius{
    border-radius: 24px;
}

.text-site-gradient{
    color: #851cfd!important;
}

.bg-site-image{
    height: 80dvh;
    background-size: cover;
    background-image: url("../images/fundal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.title h2{
    font-size: 50px;
}


.header-title{
    font-size: 48px;
    text-align: center;
}
.header-description{
    font-size: 20px;
}

//Cards
.card:hover{
    box-shadow: 0 18px 46px rgba(37, 3, 51, 0.2);
    border-bottom: 2px solid #851cfd; /* Adaugă sublinierea */
    transform: translateY(-2px); /* Ridică cardul puțin la hover pentru un efect de ridicare */
}
//Gallery carusel
.carousel-inner img {
    max-height: 400px; /* Limitați înălțimea imaginilor */
    object-fit: cover; /* Ajustați imaginile pentru a acoperi întreaga zonă a caruselului */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Inversați culoarea săgeților pentru a se potrivi cu fundalul */
}

.carousel-control-prev,
.carousel-control-next {
    width: auto; /* Ajustați dimensiunea săgeților la conținut */
    background: none; /* Eliminați fundalul butoanelor */
    border: none; /* Eliminați bordura butoanelor */
    outline: none; /* Eliminați conturul la focus */
}

.carousel-control-prev {
    margin-left: -50px; /* Aduceți butonul prev la stânga */
}

.carousel-control-next {
    margin-right: -50px; /* Aduceți butonul next la dreapta */
}
//Contact
.contact-form {
    width: 822px;
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom:20px;
  }
  
  .contact-info-map {
    float: right; 
    margin-left: 20px;
    margin-right: 0;
  }
  .form{
    display: flex;
    flex-direction: row;
    color:black;
  }
  .contact-form-image{
    float: right; 
    margin-top: 70px;
    margin-left: 96px;
    margin-right: 0;
  }
  .contacts{
    margin-top: 20px;
    color: white;
  }
  .contacts .card{
    margin-bottom: 25px;
    background: linear-gradient(#FDAE8F, #fd1c1c);
  }